{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block outerbody %}
<div style="background-image: url({{ this.image|url}}); height: 300px; text-shadow: 2px 2px 2px #000000;
	-webkit-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
	"/>
	<div class="container" style="color: white">{{ this.banner }}</div>
</div>
{% endblock %}
{% block body %}
  {{ this.body }}
{% endblock %}
