html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

.dna_ornament {
  /* background-image: url("dna_ornament_light_skewed.png"); */
  background-image: url("curls.png");
  background-repeat: repeat;
}

.white {
  background-color: rgba(255,255,255,.8);
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
}
